<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        font-size: medium;
        background-color: #f2f2f2;
    }
    a {
        text-align: center;
    }

    .ms-container {
        width: 100%;
    }
    .centerDiv {
        padding: 0 30px;
        width: 1180px;
        margin: 0 auto;
        background-color: white;
        border: 2px solid #D3D3D3;
        border-radius: 8px;
    }
    .userList {
        width: auto;
        padding: 0 30px;
        margin: 0 auto;
        background-color: white;
        border: 1px solid #D3D3D3;
        border-radius: 8px;
    }
    .forUserInfo{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .bs-example {
        margin: 20px;
    }
    .main {
        margin: 50px auto;
    }
    .form-control{
        height: 35px;
    }
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    .sidenav {
        margin-top: 3%;
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #353D42;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenav a {
        padding: 6px 8px 6px 16px;
        color: #818181;
        display: block;
        margin-top: 35%;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
    @font-face {
        font-family: 'WebSymbolsRegular';
        font-weight: normal;
        font-style: normal;
    }
    .ca-menu {
        padding: 0;
    }
    .ca-menu li {
        overflow: hidden;
        position: relative;
        display: block;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        margin-bottom: 4px;
        transition: all 300ms linear;
    }
    .ca-menu li:last-child {
        margin-bottom: 0px;
    }
    .ca-menu li a {
        text-align: left;
        width: 100%;
        height: 50px;
        display: block;
        color: white;
    }
    .ca-content {
        position: absolute;
        height: 60px;
        top: 20px;
    }
    .ca-main {
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        transition: all 300ms linear;
    }
    .ca-menu li:hover {
        background: #f0f0f0;
    }
    .ca-menu li:hover .ca-icon {

        color: lightgray;
        opacity: 0.8;
        text-shadow: 0px 0px 13px #fff;
    }
    .ca-menu li:hover .ca-main {
        opacity: 1;
        color: darkgrey;
        -webkit-animation: moveFromTop 300ms ease-in-out;
        -moz-animation: moveFromTop 300ms ease-in-out;
        -ms-animation: moveFromTop 300ms ease-in-out;
    }
    .ca-menu li:hover .ca-sub {
        opacity: 1;
        -webkit-animation: moveFromBottom 300ms ease-in-out;
        -moz-animation: moveFromBottom 300ms ease-in-out;
        -ms-animation: moveFromBottom 300ms ease-in-out;
    }
    .forNameAndAut{
        width: auto;
        padding: 0px;
    }
    .selectpicker  {
        width: 100%;
        height: 30px;
        margin: 1px;}
    .keybuttonSave {
        margin: 5px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100px;
        height: 8%;
        padding: 0px;
    }
</style>
<body>
<div class="bodyDiv">
    <div class="row" id="forNavbar" style="margin-bottom: 0px;">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" style="width: 100%;">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <div>
                        <li class="nav-item" style="width: 100px">
                            <a class="nav-link" href="#" onclick=openUsersSet()>USERS</a>
                        </li>
                    </div>
                    <div>
                        <li class="nav-item" style="width: 100px">
                            <a class="nav-link" href="#" onclick=openRolesSet()>ROLES</a>
                        </li>
                    </div>
                    <div>
                        <li class="nav-item dropdown" style="width: 100px">
                            <a class="nav-link dropdown" href="#" onclick=openKeysSet()>KEYS</a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">CARDS</a>
                                <a class="dropdown-item" href="#">FINGER PRINTS</a>
                                <a class="dropdown-item" href="#">IMAGES</a>
                            </div>
                        </li>
                    </div>
                    <div>
                        <li class="nav-item" style="width: 100px">
                            <a class="nav-link" href="#" onclick=openSysSet()>SYSTEM</a>
                        </li>
                    </div>
                </ul>


            </div>
            <ul class="nav navbar-nav " style="padding-right: 20px;">

                <li><a class="nav-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Çıkış </a></li>
            </ul>
        </nav>
        <!--Finish navbar-->
    </div>
    <div class="row" id="userSetting">
        <div class="col-sm-12">
            <div class="modal fade" id="editModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><b>EDIT</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="divBodyandButton">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type="button">&times;</button>

                        </div>

                        <div class="modal-body" id="deleteModalBody" style="font-size: 16pt;">
                            <h1><b>Are You Sure ?</b></h1>
                            <div class="row">
                                <div class="col-xs-12" id="userDeleteDiv" style="padding: 5px 15px 5px 15px;">
                                </div>
                                <div class="col-xs-0" id="userDeleteDiv1" style="padding: 5px 15px 5px 15px;">

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary" onclick="deleteUser(str)" type="button">Sil</button>
                            <button class="btn btn-warning" data-dismiss="modal" type="button">Kapat</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade" id="keyModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="padding: 15px;height: 500px;">
                        <div class="modal-header">
                            <h5 class="modal-title"><b>KEY MANAGMENT</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="divBodyandKey">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id='allEnvironments' class="col-sm-5" style=" background-color: white; border: 2px solid #D3D3D3; border-radius: 8px; height: 100%;">

                                    </div>
                                    <div class="col-sm-2" id="forKeyButton" style="padding-top: 20%;padding-bottom: 20%;">
                                        <div style="text-align: center; background-color: white; border: 2px solid #D3D3D3; border-radius: 8px;"> <<  >> </div>


                                    </div>
                                    <div id="selectedEnvironments" class="col-sm-5" style=" background-color: white; border: 2px solid #D3D3D3; border-radius: 8px; height: 100%;">

                                    </div>
                                    <div id="keySave">
                                        <button type="button" class="btn btn-primary float-sm-right keybuttonSave"
                                                style="margin:5px;width: 25%;height: 40px;" onclick="saveEnviroment()"> Save
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 centerDiv">
                    <div class="main">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" id="inputSearch" class="form-control" placeholder="Search"
                                   onkeyup="searching()">
                        </div>
                        <!-- Kullanıcı listeler-->
                        <div class="bs-example">
                            <nav>
                                <ul class="pagination justify-content-center" style="width: 100%;">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <button id="btnPrevPage" type="button" class="btn btn-light "
                                                    style="margin-right: 5px; width: 70px;" onclick="previousPage()"><<
                                            </button>

                                        </div>
                                        <div class="col-sm-4">
                                            <div id="pageNumber" >

                                            </div>

                                        </div>
                                        <div class="col-sm-4">
                                            <button id="btnNextPage" type="button" class="btn btn-light "
                                                    style="margin-right: 5px; width: 70px;" onclick="nextPage()">>>
                                            </button>
                                        </div>
                                    </div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="container">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 centerDiv2" style="padding: 0px">
                    <div id ="usersList" class="container usersList" style="width: 100%; padding: 0px;">

                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div id="forpopup">
                <div id="popupDiv">
                    <section id="fixed-form-container" class="popupCon">
                        <div class="body">
                            <div class="form-group">
                                <label style="color:#9A9EA0">Kayıt Başarılı </label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="roleSetting" style="display: none">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 centerDiv">
            <h1>SEHER</h1>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" id="keySetting" style="display: none">
        <div class="col-sm-12">
            <div class="container">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 centerDiv">
                    <div class="main">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>

                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="container">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 centerDiv">
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="row" id="systemSetting" style="display: none">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 centerDiv">
            <div class="sidenav">
                <div class="content">
                    <ul class="ca-menu">
                        <li>
                            <a href="#">
                                <div class="ca-content">
                                    <h2 style="font-size: medium; color:#9A9EA0" class="ca-main">SYSTEM RECOVERY MODE</h2>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="ca-content">
                                    <h2 style="font-size: medium; color:#9A9EA0" class="ca-main"> SYSTEM SETTING MODE</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><!-- content -->
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <script>


        var optList = ["ALI", "VELI", "ELLI"];
        /*        <option value='elem_1'>elem 1</option>
                    <option value='elem_2'>elem 2</option>
                    <option value='elem_3'>elem 3</option>
                    <option value='elem_4'>elem 4</option>
                    <option value='elem_100'>elem 100</option>
        */

        var str = null;
        var currentPage;
        var currentList = [];
        var pageLi = document.getElementById('pageNumber');
        var totalPage = null;
        var allEnvironments = null;
        var allRoles =null;
        var selectedEnvironments = null;
        var environmentSelectModalCurrentUser = [];
        var searchingValue =null;
        var selectedPage =null;
        var selectedRole=[];
        var userSelectedAllEnvironments = [];

        function getPage(page, name) {
            console.log("getPage:" + page);
            console.log("getPage:" + name);
            var api = "http://localhost:8080/admin/listAPI?pageNo=" + page;
            if (name != null) {
                api += "&name=" + name;
            }
            $.ajax({
                url: api,
                contentType: 'application/json',
                traditional: true,
                dataType: 'json',
                processData: false,
                type: 'POST',
                success: function (data) {
                    var status = data.status;
                    str = data.data;
                    totalPage = data.data.totalPages;
                    if (data.successful == true) {
                        currentPage = str;
                        if (currentPage.isFirst) {
                            $('#btnPrevPage').prop('disabled', true)
                        }
                        else {
                            $("#btnPrevPage").prop('disabled', false);
                        }
                        if (currentPage.isLast) {
                            $("#btnNextPage").prop('disabled', true);
                        }
                        else {
                            $("#btnNextPage").prop('disabled', false);
                        }

                        pageLi.innerHTML = "";
                        var html = '<select id ="selectPage" onchange="search(this.value)" class="form-control" style="height: 100%">';
                        if(currentPage.totalPages ==0 ){currentPage.totalPages=1;}
                        for (var i = 0; i < currentPage.totalPages; i++) {
                            if (i == page) {
                                html += "<option value='" + i + "' selected='selected'>" + i + "</option>";
                            } else {
                                html += "<option value='" + i + "' >" + i + "</option>";
                            }
                        }
                        html += "</select>";
                        pageLi.innerHTML = html;
                        currentList = str.list;
                        listing(str);
                        if (status == 0) {
                            console.log("device control succeeded");
                        }
                    }
                },
                error: function (data) {
                    console.log("Device control failed" + data);
                }
            })
        }

        function searching(){
            var tmpSelectTag=document.getElementById("selectPage");
            selectedPage = tmpSelectTag.options[tmpSelectTag.selectedIndex].value;

            searchingValue=inputSearch.value.toUpperCase();

            getPage(selectedPage,searchingValue);

        }

        function listing(str) {
            var myObject = str.list;
            var mainContainer = document.getElementById('usersList');
            var tempDiv = "";
/*
            var currentQuery = inputSearch.value.toUpperCase();
*/
            for (var i in myObject) {
                var user = myObject[i];
                var name = user.userName;
                var surname = user.userSurname;
                var role = user.userRoles[0].role;
                environment = user.environment;
                var tc = user.tc;
                var email = user.userEmail;
                var temp = "";
                /*if (currentQuery != "" && (!name.includes(currentQuery) && !surname.includes(currentQuery))) {
                    continue;
                }*/

                temp += '<div class="container userList" >';
                temp += '<div class="col-sm-8 forUserInfo">';
                temp += '<div class="container forNameAndAut">';
                temp += '<div class="col-sm-4">' + name + ' ' + surname + '</div>';
                temp += '<div class="col-sm-2" style="background-color: red;color: white;text-align: center">' + role + '</div>';
                temp += '<div class="col-sm-6"></div> </div>';
                temp += '<div class="container forInfo" style="font-size: 10px;font-style: italic">';
                temp += '<div>' + tc + '</div>'; //T.C. gelecek
                temp += '<div>' + email + '</div></div> ';   //Tel No gelecel
                for (var j in user.environment) {

                    temp += '<div class="container keyInfo" >' + user.environment[j].environmentName + '</div>';
                }
                temp += ' </div>';
                temp += '<div class="col-sm-4 forButtons">';
                temp += '<div style="margin-top: 10px; margin-bottom: 5px;">';
                temp += '<button type="button" class="btn btn-primary " style="margin-right: 5px; width: 70px;" onclick="editingModal(' + user.id + ')">EDIT</button>';
                temp += '<button type="button" class="btn btn-primary " style="width: 70px; padding-left:7px;"  onclick="deleteModal(' + user.id + ')" >DELETE</button> </div >';
                temp += '<div style="margin-top: 10px; margin-bottom: 5px;"><button type="button" class="btn btn-primary " style="width: 145px;" onclick="keyModal(' + user.id + ')">KEY MANAGMENT</button></div> </div> </div>';
                tempDiv += temp;
            }
            usersList.innerHTML = tempDiv;
        }

        $(document).ready(function () {
            $("#fixed-form-container .body").hide();
            getPage(0);
            getAllEnvironments();
            getAllRoles();

        })

        function toggleModalEnvironmentSelection(environmentId) {
            var environment = null;
            for (var i in allEnvironments) {
                var temp = allEnvironments[i];
                if (temp.id == environmentId) {
                    environment = temp;
                    break;
                }
            }
            for (var i in selectedEnvironments) {
                var temp = selectedEnvironments[i];
                if (temp.id == environmentId) {
                    environment = temp;
                    break;
                }
            }
            if (environment == null) {
                return;
            }
            var index = selectedEnvironments.indexOf(environment);
            if (index != -1) {
                var newArray = [];
                for (var i in selectedEnvironments) {
                    var tmp = selectedEnvironments[i];
                    if (tmp.id != environmentId) {
                        newArray.push(tmp);
                    }
                }
                selectedEnvironments = newArray;
                allEnvironments.push(environment);
            } else {

                var tempAllEnvironments=allEnvironments.filter(function (e){
                    return e!==environment;
                })

                allEnvironments=tempAllEnvironments;
                selectedEnvironments.push(environment);

                }


            renderEnvironmentModal();
        }

        function renderEnvironmentModal(environmentSelectModalCurrentUser) {
            if (allEnvironments == null) {
                return;
            }
            var allEnvironmentsDiv = document.getElementById("allEnvironments");
            var selectedEnvironmentsDiv = document.getElementById("selectedEnvironments");
            allEnvironmentsDiv.innerHTML = "";
            selectedEnvironmentsDiv.innerHTML = "";
            var selectedEviromentsNumber;
            var temp = "";
            if(selectedEnvironments ==null){
                selectedEnvironments=0;
            }

            for (var i in selectedEnvironments) {
                var environment = selectedEnvironments[i];
                    temp += "<div onclick='toggleModalEnvironmentSelection(" + environment.id + ")'>";
                    temp += environment.environmentName;
                    temp += "</div>";
                }

            selectedEnvironmentsDiv.innerHTML = temp;
            temp = "";
            for (var i in allEnvironments) {
                var environment = allEnvironments[i];
                var isThisAlreadySelected = false;
                for (var k in selectedEnvironments) {
                    var tempSelected = selectedEnvironments[k];
                    if (tempSelected.id == environment.id) {
                        isThisAlreadySelected = true;
                        break;
                    }
                }
                if (isThisAlreadySelected) {
                    continue;
                }
                temp += "<div onclick='toggleModalEnvironmentSelection(" + environment.id + ")'>";
                temp += environment.environmentName;
                temp += "</div>";
            }
            allEnvironmentsDiv.innerHTML = temp;
        }

        function getAllEnvironments() {
            $.ajax({
                url: "http://localhost:8080/admin/enviromentAPI",
                contentType: 'application/json',
                traditional: true,
                dataType: 'json',
                processData: false,
                type: 'POST',
                success: function (data) {
                    var list = data.data;
                    allEnvironments = list;
                    renderEnvironmentModal();
                },
                error: function (data) {
                    console.log("Device control failed" + data);
                }
            })
        }

        function getAllRoles() {
            $.ajax({
                url: "http://localhost:8080/admin/rolesAPI",
                contentType: 'application/json',
                traditional: true,
                dataType: 'json',
                processData: false,
                type: 'POST',
                success: function (data) {
                    var list = data.data;
                    allRoles = list;
                },
                error: function (data) {
                    console.log("Device control failed" + data);
                }
            })


        }

        function keyModal(id) {
            var containUserEnvironmentBefore =null;

            for (var i in str.list) {
                if (str.list[i].id == id) {
                    environmentSelectModalCurrentUser = str.list[i].environment;
                }
            }
            for(i in allEnvironments){
                if(allEnvironments.includes(environmentSelectModalCurrentUser[i]) ){
                    containUserEnvironmentBefore=true;
                }
            }
                for(i in selectedEnvironments){
                    if( selectedEnvironments.includes(environmentSelectModalCurrentUser[i])){
                        containUserEnvironmentBefore=true;
                    }

            }
            if (environmentSelectModalCurrentUser != null && containUserEnvironmentBefore!=true){
                selectedEnvironments = environmentSelectModalCurrentUser;
            }

            renderEnvironmentModal(environmentSelectModalCurrentUser);

            if (allEnvironments == null) {
                getAllEnvironments(id);
            }

            $("#keyModal").modal('show');

        }

        function saveEnviroment() {
            if (environmentSelectModalCurrentUser == null) {
                return;
            }
            $.ajax({
                url: "http://localhost:8080/admin/enrollUserEnvironmentAPI?user_id=" + environmentSelectModalCurrentUser,
                        contentType: 'application/json',
                data: JSON.stringify({env: selectedEnvironments}),
                        traditional: true,
                        dataType: 'json',
                        processData: false,
                        type: 'POST',
                        success: function (data) {
                            alert("oldu sehercim")
                        },
                        error: function (data) {
                            console.log("Device control failed" + data);
                        }
            });

            }

        function editingModal(id) {
            $("#editModal").modal('show');
            var divBodyandButton = document.getElementById("divBodyandButton");
            var tempModal = "";
            for (var i in currentList) {
                var user = currentList[i];
                var temp = "";
                if (user.id == id) {
                    temp += '<div class="modal-body" id="editModalBody">';
                    temp += '<input class="form-control" id="nameEdit" placeholder="Name" type="text" value="' + user.userName + '"/>';
                    temp += '<input class="form-control" id="lastNameEdit" placeholder="Surname" type="text" value="' + user.userSurname + '"/>';
                    temp += '<input class="form-control" id="emailEdit" placeholder="E-Mail" type="text" value="' + user.userEmail + '"/>';
                    temp += '<input class="form-control" id="passwordEdit" placeholder="Password"/>';
                    temp += '<input class="form-control" id="passwordEdit2" placeholder="Password Verify" />';
                    temp += '<select class="selectpicker" id="roleEdit">';
                    for (var i in allRoles){
                        temp += '<option style= class="form-control"  placeholder="Role" type="text" value="' + allRoles[i]+ '">'+ allRoles[i].role +'</option>'; //Selection box gelecek

                    }
                    temp += '<input class="form-control" id="tcEdit" placeholder="TC" type="text" value="' + user.tc + '"/>';
                    temp += '</div>';
                    temp += '<div class="modal-footer">';
                    temp += '<button type="button" id="editSave" onclick="editSave(' + user.id + ');" class="btn btn-primary">Save changes</button>';
                    temp += '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                    temp += '</div>';
                    tempModal += temp;
                }
            }
            divBodyandButton.innerHTML = tempModal;
            /*$("#editModal").modal().show();*/

        }

        function editSave(id) {
            var selectedRoleIndex= roleEdit.selectedIndex;
            selectedRole=allRoles[selectedRoleIndex];
            var user = [];
            var name = nameEdit.value;
            var surname = lastNameEdit.value;
            var email = emailEdit.value;
            var password = passwordEdit.value;
            var tc = tcEdit.value;
            var roles =[];
            roles.push(selectedRole);
            $(".error").hide();
            var hasError = false;
            var errorType = "";
            var checkVal = $("#passwordEdit2").val();
            // if (passwordVal.length < 8 || passwordVal.length < 8) {
            //     $("#password").after('<span class="error">Lütfen paralonızı 8 karakterdem fazla girin.</span>');
            //     hasError = true;
            // }
            if (password != checkVal) {
                $("#passwordEdit2").after('<span class="error">Parolanız eşleşmedi.</span>');
                hasError = true;
            }
            user = {
                id: id,
                userName: name,
                userSurname: surname,
                userEmail : email,
                userRoles:roles,
                tc: tc
            };
            $.ajax({
                url: "http://localhost:8080/admin/updateUserAPI",
                contentType: 'application/json',
                traditional: true,
                data: JSON.stringify(user),
                dataType: 'json',
                processData: false,
                type: 'POST',
                success: function (data) {
                    var status = data.status;
                    str = data.Objectdata;
                    if (data.successful == true) {
                        $('#editModal').modal('toggle');
                        $("#fixed-form-container .body").show();
                        $(".popupCon").fadeToggle(3000);
                        console.log("Kapatıldı");
                        console.log(str);
                    }
                },
                error: function (data) {
                    console.log("Device control failed" + data);
                }
            })
        }

        $("select.selectPage").change(function () {
            selectedPage = $("#select").children("option:selected").val();
            getPage(selectedPage);
        });

        function deleteModal(id) {
            var deleteModal = document.getElementById("deleteModal");
            $("#deleteModal").modal('show');

        }

        function deleteUser(id) {
            $.ajax({
                url: "http://localhost:8080/admin/deleteAPI",
                contentType: 'application/json',
                traditional: true,
                data: JSON.stringify(id),
                dataType: 'json',
                processData: false,
                type: 'POST',
                success: function (data) {
                    var status = data.status;
                    str = data.Objectdata;
                    if (data.successful == true) {
                        $('#editModal').modal('toggle');
                        $("#fixed-form-container .body").show();
                        $(".popupCon").fadeToggle(3000);
                        console.log("Kapatıldı");
                        console.log(str);
                    }
                },
                error: function (data) {
                    console.log("Device control failed" + data);
                }
            })
        }

        function previousPage() {
            if (!currentPage.isFirst) {
                search(currentPage.number - 1);
            }
        }

        function nextPage() {
            if (!currentPage.isLast) {
                search(currentPage.number + 1);
            }
        }

        function search(page) {
            page = (page == null) ? 0 : page;
            getPage(page);
        }

        function openUsersSet() {

            var x = document.getElementById("userSetting");
            if (x.style.display === "none") {
                x.style.display = "block";
                document.getElementById('roleSetting').style.display = "none";
                document.getElementById('keySetting').style.display = "none";
                document.getElementById('systemSetting').style.display = "none";
            } else {
                document.getElementById('roleSetting').style.display = "none";
                document.getElementById('keySetting').style.display = "none";
                document.getElementById('systemSetting').style.display = "none";
            }
        }

        function openRolesSet() {

            window.location.href = "http://localhost:8080/admin/role";

        }

        function openKeysSet() {
            window.location.href = "http://localhost:8080/admin/key";

        }

        function openSysSet() {
            window.location.href = "http://localhost:8080/admin/system";

        }


    </script>
</div>
</body>
</html>